<div>
  <form action="/confirm_delete/<%= params[:type] %>">
    <select name="id">
      <% @results.each do |item| %>
        <option value="<%= item.id %>"><%= item.name %></option>
      <% end %>
    </select>
    <button type="submit">Click to Delete</button>
  </form>
</div>