<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Week 4 Project</title>
  </head>
  <body>
    <header>
      <!-- White space -->
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <% unless session[:username] == nil %>
          <% dropdown("create").each do |x| %>
            <%= x %> 
          <% end %>
        <% end %>
        <% dropdown("search").each do |x| %>
          <%= x %> 
        <% end %>
        <% unless session[:username] == nil %> 
          <% dropdown("delete").each do |x|  %>
            <%= x %> 
          <% end %>
        <% end %>
        <% if session[:username] == nil %>
          <li><a href="/login">Log In</a></li>
        <% else %>
          <li><a href="/logout">Log Out</a></li>
        <% end %>
      </ul>
    </nav>
    <div class="yielded"><%= yield %></div>
  </body>

</html>