<div>
  <form action="/edit">
    <% view_output(@obj).each do |item| %>
      <%= item %>
    <% end %>
    <p><button type="submit">Click Here to Edit This <%= params[:type].capitalize %></button></p>
  </form>
</div>