<div>
  <form action="/edit">
    <% view_output(@obj).each do |item| %>
      <%= item %>
    <% end %>
    <% if session[:username] == get_username(@obj.creator_id) %>
      <p><button type="submit">Click Here to Edit This <%= params[:type].capitalize %></button></p>
    <% end %>
  </form>
</div>