<div>
  <form action="/edit">
    <% view_output(@obj).each do |item| %>
      <%= item %>
    <% end %>
    <% unless session[:user] == nil %>
      <p><button type="submit">Click Here to Edit This <%= params[:type].capitalize %></button></p>
    <% end %>
  </form>
</div>