* {
  text-align: center;
}

body {
  min-width: 400px;
  margin: 0;
  padding: 0;
}

nav {
  background: gray;
  padding: 10px 0px;
  color: white;
  position: fixed;
  width: 100%;
}

.show-menu{
  color: black;
}

#hidden {
  display: none;
}

nav ul {
  list-style-type: none;
  display: block;
  width: 100%;
  background: gray;
  color: white;
  text-align: center;
  margin: 2px 0;
  padding: 2px;
}

ul li {
  margin: 3px 0;
  background: black;
}
ul li a {
  display: block;
}

a {
  color: white;
}
ul li ul {
  display: none;
  padding: 2px;
}

ul li ul li {
  padding: 2px;
  margin: 2px 20px;
}

/*ul li:hover ul {
  display: block;
}*/

input.hidden {
  display: none;
}

label.show-hidden {
  cursor: pointer;
  display: block;
  text-align: center;
}

input#show-username {
  display: hidden;
}

label.show-username {
  cursor: pointer;
  display: block;
  text-align: center;
}

label {
  display: block;
}

label:hover {
  cursor: auto;
  width: 100%;
}

input[type=checkbox]:checked ~ #hidden{
    display: block;
}

.yielded {
  padding: 40px 10px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 35px;
  background: gray;
}

.copyright {
  height: 35px;
  padding: 10px 0 0 0;
}