<div>
  <form action="/save/<%= params[:type] %>" method="post">
    <% edit_output(@obj).each do |item| %>
      <%= item %>
    <% end %>
    <p><button type="submit">Click Here to Make These Changes</button></p>
  </form>
</div>